
body {
    background-image: url('https://zefirka.club/uploads/posts/2022-10/1666366231_1-zefirka-club-p-grustnie-anime-oboi-na-pk-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
